@model IEnumerable<ClientManage.Domain.Entities.StudentSourceItemEntity>

@{
    Layout = "~/Areas/Students/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FirstRegFromFrom";
}
<h2>初访信息登记表——Part 3</h2>
<p class="StudentName">学生名：<span>@ViewBag.StudentInfo.NameCn</span><input type="hidden" class="StudentID" value="@ViewBag.StudentInfo.StudentID" /></p>
@using (Html.BeginForm("FirstRegFormFrom","StudentInfo",FormMethod.Post))
{
    <table>
        <tr>
            <th>如何知道APP</th>            
            <td>
                <table>
                    @foreach (StudentSourceItemEntity item in Model)
                    {
                        <tr>
                            <td class="tdStudentSourceItem">
                                <input type="checkbox" class="chkIsFrom" />&nbsp;
                                <span class="SourceName">@item.SourceName</span>，
                                <span class="DetailKeyword">@item.DetailKeyword</span>：
                                <input type="text" value="请输入内容" class="DetailContent EnterTip" />
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    </table>
    
    <p class="pIsSign">是否完成签约：
        <input type="checkbox" name="IsSign" class="IsSign" />
        <input type="hidden" name="SignDate" class="SignDate DatePick" />
    </p>
    
    <input type="submit" value="提交" />
}

<script type="text/javascript">

    $(document).ready(function (e) {

        /* Ajax Begin*/
        function FirstRegFormFromAjax() {
            if ($("p.StudentName span").html() == "") {
                return;
            }
            else {
                var studentID = $("input.StudentID").val();
                var FromList = GetStudentFromList();
                var ajaxData = {
                    studentId: studentID,
                    fromList: FromList
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("FirstRegFormFrom", "StudentInfo")',
                    data: JSON.stringify(ajaxData),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.FromResult) {
                            SetFirstInterviewGetFromDone(data.StudentID);
                        }
                    }
                });
            }
        }

        function SetFirstInterviewGetFromDone(studentID) {
            var _isSign = $("input.IsSign").is(':checked');
            var _signDate = $("input.SignDate").val();
            var _getFrom = "完成初访登记表";

            var ajaxData = {
                id: studentID,
                trackID: "",
                trackNo: 1,
                isSign: _isSign,
                signDate: _signDate,
                getFrom: _getFrom
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("SetGetFromDone")',
                data: JSON.stringify(ajaxData),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.SetResult == true && data.SignResult == false) {
                        var url = "/Students/SaleTrack/Index/?id=" + data.StudentID;
                        window.location.href = url;
                    }
                    if (data.SetResult == true && data.SignResult == true) {
                        var url = "/Students/StudentInfo/List"
                        window.location.href = url;
                    }
                }
            });
        }

        function GetStudentFromList() {
            var studentFromList = [];
            var studentId = $("input.StudentID").val();
            $("td.tdStudentSourceItem").each(function (index, element) {
                if ($(this).find("input[type=checkbox]").is(':checked')) {
                    studentFromList.push({
                        StudentID: studentId,
                        SourceName: $(this).find("span.SourceName").text(),
                        SourceDetailKeyword: $(this).find("span.DetailKeyword").text(),
                        SourceDetailContent: $(this).find("input.DetailContent").val(),
                        Remark: ""
                    });
                }
            });
            return studentFromList;
        }
        /* Ajax End */


        /* 事件绑定 Begin */

        $("input.DatePick").datepicker({ dateFormat: "yy/mm/dd" });
        $("input.IsSign").bind("click", function (e) {
            if ($(this).is(':checked') == true) {
                $("input.SignDate").attr("type", "text");
            }
            else {
                $("input.SignDate").val("");
                $("input.SignDate").attr("type", "hidden");
            }
        });

        /* EnterTip Begin */
        $("input.EnterTip").each(function () {
            $(this).focusin(function (e) {
                if ($(this).val().indexOf("请输入") >= 0) {
                    $(this).val('');
                }
            });
            $(this).focusout(function (e) {
                if ($(this).val() == '') {
                    $(this).val("请输入内容");
                }
            });
        });
        /* EnterTip End */

        /* DetailContent focusout Begin */
        $("input.DetailContent").on("focusout", function (e) {
            if ($(this).val().indexOf("请输入") < 0) {
                $(this).parent("td.tdStudentSourceItem").find("input[type=checkbox]").attr('checked', true);
            }
        });
        /* DetailContent focusout End */


        $("form").submit(function (e) {
            e.preventDefault();
            FirstRegFormFromAjax();
        });

        /* 事件绑定 End */

    });

</script>
