@model ClientManage.WebUI.Areas.Students.Models.FirstInterviewTPModel

@{
    Layout = "~/Areas/Students/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FirstRegFormTP";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/jqueryFrame/jquery-ui-timepicker-addon.js")"></script>
<h2>初访信息登记表——Part 2</h2>
<p class="StudentName">学生名：<span>@Model.StudentInfo.NameCn</span><input type="hidden" class="StudentID" value="@Model.StudentInfo.StudentID" /></p>
@using (Html.BeginForm("FirstRegFormTP","StudentInfo",FormMethod.Post))
{
    <table class="StudentTPInfo">
        <tr>
            <th>有无其他课程</th>
            <td>
                <input type="checkbox" name="IsIB" class="IsIB" @(Model.StudentTPInfo.IsIB ? "checked=\"checked\"" : "") /><span>IB</span>&nbsp;&nbsp;
                <input type="checkbox" name="IsAP" class="IsAP" @(Model.StudentTPInfo.IsAP ? "checked=\"checked\"" : "")/><span>AP</span>&nbsp;&nbsp;
                <input type="checkbox" name="IsALevel" class="IsALevel" @(Model.StudentTPInfo.IsALevel ? "checked=\"checked\"" : "")/><span>A-Level</span>&nbsp;&nbsp;
                其他1 @Html.TextBox("OtherTP1", (Model.StudentTPInfo.OtherTP1 ?? "请输入课程名"), new { @class = "OtherTP1 EnterTip" })&nbsp;&nbsp;
                其他2 @Html.TextBox("OtherTP2", (Model.StudentTPInfo.OtherTP2 ?? "请输入课程名"), new { @class = "OtherTP2 EnterTip" })
            </td>
        </tr>
        <tr class="LangTrainingInfo">
            <th>有无参加语言课程培训</th>
            <td>
                <input type="radio" name="IsLangTran" class="IsLangTran" value="无" @(Model.StudentTPInfo.IsLangTran ? "":"checked=\"checked\"") /><span>无</span>&nbsp;&nbsp;
                <input type="radio" name="IsLangTran" class="IsLangTran" value="有"  @(Model.StudentTPInfo.IsLangTran ? "checked=\"checked\"" : "") /><span>有</span>&nbsp;&nbsp;
                <span>课程</span><input type="text" name="LT1CouseName" class="LT1CouseName EnterTip" value="@(Model.StudentTPInfo.LT1CourseName ?? "请输入课程名")" />
                <span>培训机构</span><input type="text" name="LT1CouseAddress" class="LT1CouseAddress EnterTip" value="@(Model.StudentTPInfo.LT1CourseAddress ?? "请输入机构名")" />
                <span>时间：</span>
                @Html.TextBox("LT1DateBegin", string.Format("{0:yyyy/MM}", Model.StudentTPInfo.LT1DateBegin), new { @class = "LT1DateBegin YeahMonthPick" })
                <span>至</span>
                @Html.TextBox("LT1DateEnd", string.Format("{0:yyyy/MM}", Model.StudentTPInfo.LT1DateEnd), new { @class = "LT1DateEnd YeahMonthPick" })
            </td>
        </tr>
        <tr class="TFIELTSResult">
            <th>语言成绩</th>
            <td>
                <input type="hidden" name="ResultID" class="ResultID" value="@Model.TFIELTSResult.ResultID" />
                <input type="radio" name="IsHaveTFIELTS" class="IsHaveTF" value="TOFEL" @(Model.TFIELTSResult.ExamType == ExamType.TOFEL ? "checked=\"checked\"" : "")/><span>托福</span>&nbsp;&nbsp;
                <input type="radio" name="IsHaveTFIELTS" class="IsHaveIELTS" value="IELTS" @(Model.TFIELTSResult.ExamType == ExamType.IELTS ? "checked=\"checked\"" : "")/><span>雅思</span>&nbsp;&nbsp;
                <input type="text" name="Total" class="Total EnterTip" value="@(Model.TFIELTSResult.Total.ToString() ?? "请输入总分")" />&nbsp;&nbsp;&nbsp;&nbsp;
                考试时间：<input type="text" class="ExamDate EnterTip DatePick" name="ExamDate" value="@(string.Format("{0:yyyy/MM/dd}",Model.TFIELTSResult.ExamDate) ?? "请输入考试时间")" />
            </td>
        </tr>
        <tr class="SATSSATResult">
            <th>SAT/SSAT</th>
            <td>
                <input type="hidden" name="ResultID" class="ResultID" value="@Model.SATSSATResult.ResultID" />
                <input type="radio" name="IsHaveSATSSAT" class="IsHaveSAT" value="SAT" @(Model.SATSSATResult.ResultID==Guid.Empty || Model.SATSSATResult.ExamType == ExamType.SAT ? "checked=\"checked\"" : "")/><span>SAT</span>&nbsp;&nbsp;
                <input type="radio" name="IsHaveSATSSAT" class="IsHaveSSAT" value="SSAT"  @(Model.SATSSATResult.ExamType == ExamType.SSAT ? "checked=\"checked\"" : "")/><span>SSAT</span>&nbsp;&nbsp;
                总分：<input type="text" name="Total" class="Total EnterTip" value="@(Model.SATSSATResult.Total.ToString() ?? "请输入总分")" />&nbsp;
                <input type="hidden" name="ExamID" class="ExamID" value="@Model.SATSSATResultDetail.ExamID" />
                (<input type="text" name="Math" class="Math EnterTip" value="@(Model.SATSSATResultDetail.MathScore.ToString() ?? "Math")"/>&nbsp;/
                <input type="text" name="Reading" class="Reading EnterTip" value="@(Model.SATSSATResultDetail.Reading.ToString() ?? "Reading")"/>&nbsp;/
                @{
                    if(Model.SATSSATResultDetail.Writing >0)
                    {
                        <input type="text" name="WriVoc" class="WriVoc EnterTip" value="@Model.SATSSATResultDetail.Writing"/>
                    }
                    else if (Model.SATSSATResultDetail.Vocabulary > 0)
                    {
                        <input type="text" name="WriVoc" class="WriVoc EnterTip" value="@Model.SATSSATResultDetail.Vocabulary"/>
                    }
                    else
                    {
                        <input type="text" name="WriVoc" class="WriVoc EnterTip" value="Writing"/>
                    }
                }
                
                考试时间：<input type="text" class="ExamDate EnterTip DatePick" name="ExamDate" value="@(string.Format("{0:yyyy/MM/dd}",Model.SATSSATResult.ExamDate) ?? "请输入考试时间")" />
            </td>
        </tr>
        <tr class="SAT2Result">
            <th>SAT2 成绩</th>
            <td>
                <input type="hidden" name="ResultID" class="ResultID" value="@Model.SAT2Result.ResultID" />
                <input type="text" name="Total" class="Total EnterTip" value="@(Model.SAT2Result.Total.ToString() ?? "请输入总分")"/>&nbsp;&nbsp;&nbsp;&nbsp;
                考试时间：<input type="text" class="ExamDate EnterTip DatePick" name="ExamDate" value="@(string.Format("{0:yyyy/MM/dd}", Model.SAT2Result.ExamDate) ?? "请输入考试时间")" />
            </td>
        </tr>
    </table>
    <input type="submit" value="提交" />
}

<script type="text/javascript">
    $(document).ready(function (e) {

        /* Ajax 交互 Begin */
        function FirstRegTPInfoAjax() {
            if ($("p.StudentName span").html() == "") {
                return;
            }
            else {
                var studentInfo = {
                    StudentID: $("input.StudentID").val()
                };

                var sATSSATResult = GetSATSSATResult();

                var ajaxData = {
                    StudentInfo: studentInfo,
                    StudentTPInfo: GetTPInfo(),
                    TFIELTSResult: GetTFIELTSResult(),
                    SATSSATResult: sATSSATResult.SATSSATResult,
                    SATSSATResultDetail: sATSSATResult.SATSSATResultDetail,
                    SAT2Result: GetSAT2Result()
                };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("FirstRegTPInfo", "StudentInfo")',
                    data: JSON.stringify(ajaxData),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.TPInfo == true) {
                            var url = "/Students/SaleTrack/FirstRegFormFrom/?id=" + data.StudentId;
                            window.location.href = url;
                        }
                    }
                });
            }
        }


        function GetTPInfo() {
            var isIB = $("input[name=IsIB]").is(":checked");
            var isAP = $("input.IsAP").is(":checked");
            var isALevel = $("input.IsALevel").is(":checked");
            var otherTP1 = $("input.OtherTP1").val();
            var otherTP2 = $("input.OtherTP2").val();
            var strLangTran = $("input[name=IsLangTran]:checked").val();
            var isLangTran = false;
            var lT1CouseName = '';
            var lT1CouseAddress = '';
            var lT1DateBegin = '';
            var lT1DateEnd = '';
            if (strLangTran == "有") {
                isLangTran = true;
                lT1CouseName = $("input.LT1CouseName").val();
                lT1CouseAddress = $("input.LT1CouseAddress").val();
                lT1DateBegin = $("input.LT1DateBegin").val();
                lT1DateEnd = $("input.LT1DateEnd").val();
            }
            return {
                IsIB: isIB,
                IsAP: isAP,
                IsALevel: isALevel,
                OtherTP1: otherTP1,
                OtherTP2: otherTP2,
                IsLangTran: isLangTran,
                LT1CouseName: lT1CouseName,
                LT1CouseAddress: lT1CouseAddress,
                LT1DateBegin: lT1DateBegin,
                LT1DateEnd: lT1DateEnd
            }
        }

        function GetTFIELTSResult() {
            var total = $("tr.TFIELTSResult input.Total").val();
            if (total == "" || total == 0) {
                return null;
            }
            else {
                var resultID = $("tr.TFIELTSResult input.ResultID").val();
                var examType = $("input[name=IsHaveTFIELTS]:checked").val();
                var examDate = $("tr.TFIELTSResult input.ExamDate").val();
                return {
                    ResultID: resultID,
                    ExamType: examType,
                    Total: total,
                    ExamDate: examDate
                }
            }
        }

        function GetSATSSATResult() {
            var total = $("tr.SATSSATResult input.Total").val();
            if (total == "" || total == 0) {
                return {
                    SATSSATResult: null,
                    SATSSATResultDetail: null
                };
            }
            else {
                var resultID = $("tr.SATSSATResult input.ResultID").val();
                var examType = $("input[name=IsHaveSATSSAT]:checked").val();

                var examDate = $("tr.SATSSATResult input.ExamDate").val();
                var satSSATResultDetail = GetSATSSATResultDetail(examType);
                var satSSATResult = {
                    ResultID: resultID,
                    ExamID: satSSATResultDetail.ExamID,
                    ExamType: examType,
                    Total: total,
                    ExamDate: examDate
                };
                return {
                    SATSSATResult: satSSATResult,
                    SATSSATResultDetail: satSSATResultDetail
                }
            }
        }

        function GetSATSSATResultDetail(examType) {
            var examId = $("tr.SATSSATResult input.ExamID").val();
            var mathScore = $("tr.SATSSATResult input.Math").val();
            var reading = $("tr.SATSSATResult input.Reading").val();
            var writing = '';
            var vocabulary = '';
            if (examType == "SAT") {
                writing = $("tr.SATSSATResult input.WriVoc").val();
            }
            if (examType == "SSAT") {
                vocabulary = $("tr.SATSSATResult input.WriVoc").val();
            }
            var total = $("tr.SATSSATResult input.Total").val();
            return {
                ExamID: examId,
                MathScore: mathScore,
                Reading: reading,
                Writing: writing,
                Vocabulary: vocabulary,
                Total: total
            }
        }

        function GetSAT2Result() {
            var total = $("tr.SAT2Result input.Total").val();
            if (total == "" || total == 0) {
                return null;
            }
            var resultID = $("tr.SAT2Result input.ResultID").val();
            var examType = "SAT2";
            var total = $("tr.SAT2Result input.Total").val();
            var examDate = $("tr.SAT2Result input.ExamDate").val();
            return {
                ResultID: resultID,
                ExamType: examType,
                Total: total,
                ExamDate: examDate
            }
        }

        /* Ajax 交互 End */


        /*事件绑定 开始*/

        /* JQuery datapicker or datetimepicker Begin*/
        $("input.DatePick").datepicker({
            dateFormat: "yy/mm/dd"
        });

        $("input.YeahMonthPick").datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'yy/mm',
            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));
            }
        });

        /* JQuery datapicker or datetimepicker End*/

        /* Set IsLangTraining Begin */

        $("tr.LangTrainingInfo").on("click", "input[type=radio]", function (e) {
            SetLangTrainInfo($(this).val(), $(this));
        });

        function SetLangTrainInfo(radioValue) {
            if (radioValue == "无") {
                arguments[1].siblings("input[type=text]").attr("readonly", true);
            }
            if (radioValue == "有") {
                arguments[1].siblings("input[type=text]").attr("readonly", false);
            }
        }

        $("tr.SATSSATResult").on("click", "input[type=radio]", function (e) {
            SetWriVocValue($(this).val(), $(this));
        });

        function SetWriVocValue(radioValue) {
            if (radioValue == "SAT") {
                arguments[1].siblings("input.WriVoc").val("Writing");
                $("input.EnterTip").each(function () {
                    var originValue = $(this).val();
                    $(this).focusin(function (e) {
                        if ($(this).val() == originValue) {
                            $(this).val('');
                        }
                    });
                    $(this).focusout(function (e) {
                        if ($(this).val() == '') {
                            $(this).val(originValue);
                        }
                    });
                });
            }
            if (radioValue == "SSAT") {
                arguments[1].siblings("input.WriVoc").val("Vocabulary");
                $("input.EnterTip").each(function () {
                    var originValue = $(this).val();
                    $(this).focusin(function (e) {
                        if ($(this).val() == originValue) {
                            $(this).val('');
                        }
                    });
                    $(this).focusout(function (e) {
                        if ($(this).val() == '') {
                            $(this).val(originValue);
                        }
                    });
                });
            }
        }

        /* Set IsLangTraining End */

        /* EnterTip Begin */
        $("input.EnterTip").each(function () {
            var originValue = $(this).val();
            $(this).focusin(function (e) {
                if ($(this).val() == originValue) {
                    $(this).val('');
                }
            });
            $(this).focusout(function (e) {
                if ($(this).val() == '') {
                    $(this).val(originValue);
                }
            });
        });
        /* EnterTip End */

        $("form").submit(function (e) {
            e.preventDefault();
            FirstRegTPInfoAjax();
        });
        /*事件绑定 结束*/

        /* DOM 初始化 Begin*/
        $("input[type=radio][name=IsLangTran]").each(function (index, element) {
            if ($(this).attr("checked") == "checked") {
                SetLangTrainInfo($(this).val(), $(this));
            }
        });
        /* DOM 初始化 End*/

    });

</script>
