<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jqueryFrame/jquery-2.1.0.min.js")" type="text/javascript"></script>
</head>

<body>
<div>dfaf
    @if (TempData["message"] != null)
    {
        <div class="Message">@TempData["message"]</div>
    }
</div>

    @RenderBody()
</body>
</html>
